*{
    
    margin: 0;
    padding:0;
    
  
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../../../public/images/regform.jpg");
    background-size: cover;
}